<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MAFLIX - Movie Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>🎬 MAFLIX</h1>

    <div id="search-container">
        <input type="text" id="movieInput" placeholder="Search by movie title">
        <select id="genreSelect">
            <option value="">All Genres</option>
        </select>
        <button onclick="getRecommendations()">Search</button>
    </div>

    <div id="evaluation"></div>
    <div id="movies-container"></div>

    <section id="about-maflix"
        style="margin: 20px 0; padding: 15px; background-color: #bc6b6b8e; border-radius: 8px; font-family: Arial, sans-serif;">
        <h2>About MAFLIX</h2>
        <p>
            MAFLIX is a smart movie recommendation system that helps you discover movies tailored to your tastes.Powered
            by advanced search techniques including TF-IDF and Rocchio feedback algorithms,
            MAFLIX not only finds the movies you search for but also suggests similar titles you'll love.
        </p>
        <p>
            Easily filter by genre or provide feedback on recommendations to improve future results.
            Start exploring the world of cinema with MAFLIX today!
        </p>
    </section>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
